/* colores*/

$grisOscuro: #B1B1B1;
$grisClaro: #DBDBDB;
$blanco: #FFFFFF;
$negro: #000;

/*variables bordes y mixing*/

$border-radius: 5px;
@mixin borderRightBottom {
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
}

@mixin border ($grosor: 1px, $color: $negro, $style: solid){
    border: $grosor $style $color;
}

/*Mixin estilo texto con sombra*/

@mixin textShadow ($color: #fff, $textShadow: $textShadowBlack){
    color: $color;
    text-shadow: $textShadow;
}

@mixin boxShadow ($x: 2px, $y: 2px, $intensity: 2px, $color: #333) {
    box-shadow: $x $y $intensity $color;
}

/* Sombras */

$shadow-right: 15px;
$shadow-bottom: 15px;
$shadow-intensity: 15px;
$shadow-color: #aaa;
$articleContainerShadow: 3px 3px 3px #333;
$textShadowBlack: 2px 2px #000;